* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-dark: #1a1a1d;
  --bg-light: #4e4e50;
  --bg-darkred: #6f2232;
  --bg-lightred: #950740;
  --bg-accent: #c3073f;
  --bg-accent2: #df003a;

  /* mycolor.space  */
  --dark: #2a062d;
  --secondary: #c96fcd;
  --light: #fff5ff;
  --gray: #e8d5b5;

  /* --type-2----   */
  /* --dark:#3B183E;
  --purple:#C86FCE;
  --light: #FFF5FF;
  --gray:#E8D5B5; */
}
html {
  scroll-behavior: smooth;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: initial;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* club navigation  */
.clubNavigation {
  padding: 15px 20px 8px 160px;
  display: flex;
  background-color: white;
}
.clubSites h4 {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-weight: 400;
  color: rgb(76, 99, 119);
}
.clubList {
  display: flex;
  margin-left: 10px;
}
.club-logo {
  height: 32px;
  width: auto;
}
ul li {
  list-style-type: none;
  margin: 0px 12px;
}
.club-logo {
  transition: transform 0.2s ease-in;
}
.club-logo:hover {
  transform: scale(1.5);
}

/* tabs navbar */
.navWrapper {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.navImage {
  height: 250px;
  width: 100%;
  /* background-image: url("/static/players/images/event-info.svg"); */
  background-repeat: no-repeat;
  background-size: 86%;
  background-position: 100% 100%;
  background-color: rgb(55, 0, 60);

  display: flex;
}
.navImage > h1 {
  color: white;
  margin: 50px auto 50px 70px;
  font-size: 5rem;
}
.nav_bar {
  margin: auto;
  border-bottom: 1px solid black;
  width: 1200px;
  height: 50px;
  margin-top: -50px;

  /* to show player image background below ul elements  */
  position: relative;
}
.nav_bar ul li {
  float: left;
  font-size: 14px;
  margin: 0 3px;
}
.nav_bar ul li a {
  color: #fff;
  /* background-color: #02884e; */
  background-color: var(--bg-lightred);
  /* background-color: var(--secondary); */
  border-bottom: none;
  padding: 1rem;
  border-radius: 7px 7px 0 0;
  display: block;
  text-align: center;
}
.nav_bar ul li a:hover {
  /* background-color: rgb(236, 52, 82); */
  background-color: var(--bg-accent);
}

.nav_bar ul li .active {
  color: #000;
  background: #fff;
  border-bottom: 1px solid white;
}

/* pages */
/* ----------LOGIN-REGISTER---------------------- */
.form-container {
  display: flex;
}

.login-form,
.register-form {
  width: 425px;
  height: 425px;
  box-shadow: 0 0 5px gainsboro;
  margin: 4% 20% 4% 8%;
  text-align: center;
}
.login-form h1,
.register-form h1 {
  margin: 15px auto;
  padding-top: 5px;
}
.input-box {
  text-align: center;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.7rem 0;
  padding: 10px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: rgb(75, 68, 68);
  font-size: 1rem;
  margin: 10px;
  border-radius: 5px;
}
.login-btn,
.register-btn {
  width: 80%;
  background-color: rgb(55, 0, 60);
  margin-bottom: 1rem;
}
.login-form h3 {
  margin: 10px;
  /* color: var(--bg-accent2); */
}
#side-img {
  display: block;
  width: 560px;
  height: 540px;
}

/* --------------REGISTER PAGE------------------- */
.register-form {
  margin: 4% 6% 4% 3%;
}
.choose-team {
  width: 50%;
  margin: 1rem 0rem 1rem 10rem;
}
.choose-team > h3 {
  margin: 0.5rem;
}
.choose-team > select {
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
.choose-team > select:hover {
  background-color: aliceblue;
}
.choose-team hr {
  width: 80%;
  margin: 1rem 0;
}
#respond{
  background-color: var(--gray);
  padding: 0.5rem;
  border-radius: 5px;
}

/* ------------------AFTER LOGIN---------------- */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
  min-height: 500px;
  /* background-color: rgba(236, 219, 219, 0.938); */
}

/* -----------------1. Status page-----------------  */
.status-wrapper {
  max-width: 1170px;
  margin: 0.5rem auto;
  min-height: 500px;
  /* background-color: rgb(204 226 221 / 94%); */
}
.status-wrapper .user-info {
  margin: 1.5rem 0 0;
}
.status-wrapper .status-title {
  margin: 1.3rem 0;
}
.welcome{
  color: var(--bg-accent2);
}
.game-table-show {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.game-head {
  background-color: rgb(239 239 239);
}
.game-head tr th {
  padding: 0.3rem 0;
  font-size: small;
}
.game-body tr th,
.game-body tr td {
  padding: 0.4rem 0;
  border-bottom: 1px solid rgb(239, 239, 239);
  font-weight: normal;
}
.game-body tr th span,
.game-body tr td span {
  color: var(--bg-accent);
}

.status-contents {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.left-contents {
  width: 70%;
  height: 500px;
}
.gameweek-news {
  margin-top: 1rem;
  width: 100%;
  /* background-image: url("/static/players/images/event-info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0%;
  background-color: rgb(0, 255, 135); */
}
.gameweek-news .week {
  padding-top: 1rem;
  font-size: 1.7rem;
}
.gameweek-news .info {
  position: relative;
  margin: 2rem auto 3rem auto;
}

.info .statistics {
  margin: 1rem;
  /* width: 50%; */
}
.statistics .week-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.week-stats li {
  display: flex;
  justify-content: space-between;
  background-color: rgb(239, 239, 239);
  padding: 1rem;
  border-radius: 5px;
}
.info .links-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.links-right > div {
  display: inline-block;
  margin-right: 1.5rem;
}

.links-right .my-team,
.links-right .predictor {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 9rem;
  background-color: rgb(55, 0, 60);
  padding: 0.75rem 1rem;
  margin: 0 0.95rem;
  border-radius: 5px;
}
.predictor-status {
  font-size: 1.7rem;
}

.scout {
  margin-top: 1rem;
  /* background-color: rgb(0, 255, 135); */
}
.scout-news {
  display: flex;
  padding: 1rem;
}
.scout-news > img {
  /* display: block; */
  width: 45%;
  transition: transform 0.5s ease-in;
}
.scout-news > img:hover {
  transform: scale(1.1);
}
.scout-news article {
  margin: 1rem 0 0 1.5rem;
}
.scout-news article .heading > h2 {
  font-size: 1.8rem;
  font-weight: bold;
  /* transition: all 0.5s ease; */
}
.underline-hover-effect {
  display: inline;
  background-image: linear-gradient(
    to right,
    var(--bg-accent),
    var(--bg-lightred)
  );
  background-repeat: no-repeat;
  background-size: 0% 3px;
  background-position: left bottom;
  transition: background-size 0.5s ease-in;
  padding-bottom: 0.2rem;
}
.underline-hover-effect:hover {
  background-size: 100% 3px;
}

/* .scout-news article .heading:hover {
  text-decoration: underline;
} */
.scout-news article p {
  margin: 1rem 0;
}
.right-contents {
  width: 28%;
}
.top-scorrer {
  border: 1px solid var(--bg-accent);
}
.score-head {
  background-color: var(--bg-accent);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.score-head .gw-kings {
  font-weight: bold;
}
.kings-info,
.transfer-in-info,
.transfer-out-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(239 239 239);
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
.king-card,
.transfer-in-card,
.transfer-out-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(239, 239, 239);
}
.king-card .club {
  border-right: 1px solid rgb(239 239 239);
  padding-right: 7px;
}
.top-transfers {
  display: flex;
  justify-content: space-around;
}
.transfers-in,
.transfers-out {
  width: 48%;
  border: 1px solid rgb(239 239 239);
}
.transfers-in .in-heading,
.transfers-out .out-heading {
  /* display: flex;
  justify-content: space-around; */
  padding: 0.5rem 1rem;
}
.in-heading i,
.out-heading i {
  background-color: rgb(0, 255, 135);
  color: white;
  padding: 1rem;
  border-radius: 50%;
}
.out-heading i {
  background-color: red;
}
.in-heading span,
.out-heading span {
  font-weight: bold;
  margin-left: 1rem;
}
.transfer-in-card i {
  color: green;
  font-size: large;
}
.transfer-out-card i {
  color: red;
  font-size: large;
}

/* --------------Help Page Section-------------  */
.help-layout {
  max-width: 1040px;
  margin: 0.5rem 0rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  padding: 5px;
}
.faq {
  margin-top: 15px;
  max-width: 900px;
}
.sub-headings {
  margin: 0 0 6px 0;
}
.questions > h4 {
  margin: 1rem 0;
}

.collapsible h5 button {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  border: 1px solid rgb(239, 239, 239);
  color: rgb(47, 47, 47);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-seriff;
  font-size: 1rem;
  margin: 10px 0;
  padding: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.collapsible h5 button:hover {
  /* background-color: rgb(233, 0, 82); */
  background: linear-gradient(to right, #e84460, #2d2c4a);
  color: white;
  transform: translate(30px, 10px);
  margin-bottom: 30px;
  /* #e4d2db, */
}
.collapsible h5 button .fas {
  margin: 0 8px 0 5px;
  padding: 5px;
  font-size: 1.3rem;
}
.collapsible-ans {
  display: none;
}
.answers {
  padding: 0 10px;
}
.answers p {
  margin: 1.1rem 0;
}

/* contact-us-help */
.contact-us {
  margin: 2rem auto;
}
.contact-us > p {
  margin: 1rem auto;
}
.contact-form label {
  display: block;
  margin-bottom: 0.3rem;
}
.contact-form input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.contact-form textarea {
  width: 100%;
  min-height: 20vh;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.send-msg-btn {
  background-color: rgb(45, 189, 189);
  margin: 1.5rem 0 0 0;
}
/* ------------------Leagues Page-------------------- */
.leagues-title {
  margin: 1rem 0;
}
.leagues-info {
  font-size: 0.95rem;
  font-weight: normal;
  /* text-align: center; */
  background-color: var(--gray);
  padding: 0.5rem;
  margin: 1rem 0;
}
.leagues {
  margin: 1rem 0;
}
.leagues-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.leagues-table {
  border-collapse: initial;
}
.league-head {
  background-color: var(--bg-light);
  color: var(--gray);
}
.league-head tr th {
  padding: 0.4rem 0;
  font-size: small;
}
.league-body tr td {
  padding: 0.4rem 0;
  border-bottom: 1px solid rgb(239, 239, 239);
  font-weight: normal;
}
/* .league-body tr:nth-child(even) {
  background-color: var(--light);
} */
/* ---------------FOOTER----------------  */
.bottom {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--bg-lightred);
  /* background-color: rgb(55, 0, 60); */
  /* background-color: rgb(239, 239, 239); */
}
.bottom > div {
  display: flex;
  margin-left: 5rem;
  color: white;
}
.bottom > div .AAA {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--bg-darkred);
}
.bottom > div .AAA span {
  color: var(--bg-accent2);
}
.bottom a {
  color: white;
  margin-right: 5rem;
}
